<app-header title="Monthly Payments"></app-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!bills">loading...</div>
  <div *ngIf="bills && !bills.length">no records found</div>

  <ion-list *ngIf="bills && bills.length">
    <ion-item *ngFor="let bill of bills">
      <ion-grid>
        <ion-row>
          <ion-col size="6" (click)="onClick(bill)">
            <ion-label>{{ bill.month | date: 'MMMM y' }}</ion-label>
          </ion-col>
          <ion-col>
            <app-bill-icon
              name="home-outline"
              [group]="bill.month"
              [value]="bill.house"
            />
          </ion-col>
          <ion-col>
            <app-bill-icon
              name="tv-outline"
              [group]="bill.month"
              [value]="bill.cable"
            />
          </ion-col>
          <ion-col>
            <app-bill-icon
              name="water-outline"
              [group]="bill.month"
              [value]="bill.water"
            />
          </ion-col>
          <ion-col>
            <app-bill-icon
              name="bulb-outline"
              [group]="bill.month"
              [value]="bill.electricity"
            />
          </ion-col>
          <ion-col>
            <app-bill-icon
              name="flame-outline"
              [group]="bill.month"
              [value]="bill.gas"
            />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onCreateClick()">
      <ion-icon name="add"/>
    </ion-fab-button>
  </ion-fab>
</ion-content>
