<app-header title="Monthly Payments"></app-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!bills">loading...</div>
  <div *ngIf="bills && !bills.length">no records found</div>

  <ion-list *ngIf="bills && bills.length">
    <ion-item *ngFor="let bill of bills">
      <ion-grid>
        <ion-row>
          <ion-col size="6" (click)="onClick(bill)">
            <ion-label>{{ bill.month }}</ion-label>
          </ion-col>
          <ion-col>
            <app-app-bill-icon
              name="home-outline"
              [value]="bill.house"
            ></app-app-bill-icon>
          </ion-col>
          <ion-col>
            <app-app-bill-icon
              name="tv-outline"
              [value]="bill.cable"
            ></app-app-bill-icon>
          </ion-col>
          <ion-col>
            <app-app-bill-icon
              name="water-outline"
              [value]="bill.water"
            ></app-app-bill-icon>
          </ion-col>
          <ion-col>
            <app-app-bill-icon
              name="bulb-outline"
              [value]="bill.electricity"
            ></app-app-bill-icon>
          </ion-col>
          <ion-col>
            <app-app-bill-icon
              name="flame-outline"
              [value]="bill.gas"
            ></app-app-bill-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <ion-button fill="clear" (click)="deleteBill(bill.id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button> -->
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onCreateClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
