<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="shopping-lists">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Lists</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="shopping-items">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="shopping-stores">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Stores</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>