<app-header title="Products"></app-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!shoppingItems">loading...</div>
  <div *ngIf="shoppingItems && !shoppingItems.length">no records found</div>

  <ion-list>
    <ion-item *ngFor="let item of shoppingItems" (click)="onClick(item)">
        <ion-label>
          <h2>{{ item.item_name | pascalCase:true }}</h2>
          <p>{{ item.description | pascalCase:true }}</p>
        </ion-label>
      </ion-item>
      
  </ion-list>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onCreateClick()">
      <ion-icon name="add"/>
    </ion-fab-button>
  </ion-fab>
</ion-content>
