<app-header title="Settings" />

<ion-content [fullscreen]="true">
  <div *ngIf="loading; else elseBlock">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-item>
      <ion-label>Loading...</ion-label>
      <ion-spinner slot="end" name="dots" />
    </ion-item>
  </div>
  
  <ng-template #elseBlock>
    <ion-list>
      <ion-item>
        <ion-label position="floating"> Api URL </ion-label>
        <ion-input type="text" [(ngModel)]="config.apiUrl" />
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Api Key </ion-label>
        <ion-input type="text" [(ngModel)]="config.apiKey" />
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="config.online">Online</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-select label="Auto download data" [(ngModel)]="config.autoDownload">
          <ion-select-option value="always">Always (on app start)</ion-select-option>
          <ion-select-option value="never">Never</ion-select-option>
          <!-- <ion-select-option value="custom">Custom (specify time)</ion-select-option> -->
        </ion-select>
      </ion-item>
      <!-- <ion-item>
        <ion-label position="floating"> Download interval </ion-label>
        <ion-input type="numeric" [(ngModel)]="config.downloadInterval" />
      </ion-item> -->
    </ion-list>
    <ion-button (click)="onSave()" expand="block">
      Save
    </ion-button>
  </ng-template>
</ion-content>
