<app-header title="Settings" />

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item routerLink="connectivity" detail lines="full">
      <ion-icon slot="start" name="wifi" color="primary"></ion-icon>
      <ion-label>
        <h2>Connectivity</h2>
        <p>Configure API endpoint, API key and online mode.</p>
      </ion-label>
    </ion-item>

    <ion-item routerLink="import-export" detail lines="full">
      <ion-icon
        slot="start"
        name="cloud-upload-outline"
        color="tertiary"
      ></ion-icon>
      <ion-label>
        <h2>Import / Export database</h2>
        <p>Backup, restore or transfer the local database (CSV).</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
